@inherits LayoutComponentBase

<div class="top-bar">
    <img class="logo col-1" src="img/logo.svg" alt="logo"/>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" alt="pizza slice"/>
        <div>Get Pizza</div>
    </NavLink>
    <AuthorizeView>
        <NavLink href="myorders" class="nav-tab">
            <img src="img/bike.svg" alt="bike"/>
            <div>My Orders</div>
        </NavLink>
    </AuthorizeView>
    
    <LoginDisplay />
</div>

<div class="content">
    @Body
</div>